# frontend
APP_ORIGIN=

# backend
NODE_ENV= 
PORT=

# JWT
JWT_PRIVATE_KEY=
JWT_EXPIRES_IN=
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=

# bd
DB_HOST=
DB_DATABASE=
DB_USER=
DB_PASSWORD=
DB_PORT=

# bd sql server
DB_HOST_MS=
DB_USER_MS=
DB_PASS_MS=
DB_NAME_MS=